:root {

    /* TYPOGRAPHY */
    --ff-primary:'Space Mono', monospace;
   

    --fw-400:400;
    --fw-700:700;

    --fs-100:1rem;
    --fs-200:1.125rem;
    --fs-300:1.5rem;
    --fs-400:2rem;
    --fs-500:3rem;

    /* COLORS */

    --clr-dark:#0B4F6C;
    --clr-light:#FBFBFF;
    --clr-neutral:#757575;
    --clr-accent-100:#20BF55;
    --clr-accent-200:#01BAEF;
    


}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-light);
}

#title {
    margin-top:2.5%;
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
    color:var(--clr-dark);
}

footer {
    background-color: var(--clr-accent-200);
    color:var(--clr-light);
    width:100%;
    text-align: center;
    padding:.5%;
}

footer  a {
    text-decoration: none;
    color:var(--clr-dark);
    font-weight: var(--fw-700);
}
footer  a:hover{
    
    color:var(--clr-light);
    
}

#calculator-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:30%;
    height:70%;
    padding: 2%;
    border: 10px solid var(--clr-accent-200);
    border-radius: 8px;
}

#output {
    display: flex;
    justify-content: end;
    align-items: end;
    width:100%;
    height:15%;
    border: 5px solid var(--clr-accent-200);
    border-radius: 8px;
    padding-right:2%;
    font-size: var(--fs-400);
    
}

#inputs-container {
    display:flex;
    flex-direction: column;
    height:75%;
    width:100%;
    
}
#inputs-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80%;
    
}
#specials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap:4%;
}
#numbers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 70%;
    gap:4%;
}

#operators-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 2fr);
    width: 30%;
    margin-left:4%;
    gap:4%;
}

button {
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-700);
    font-size: var(--fs-400);
    border-style: none;
    background-color: var(--clr-light);
    border: 5px solid var(--clr-accent-200);
    color: var(--clr-dark);
    border-radius: 8px;
    
}


button:hover {
    background-color: var(--clr-accent-200);
}

button:focus {
    background-color: var(--clr-neutral);
}



.special-btn,
.operator-btn {
    background-color: var(--clr-accent-200);
    border: 5px solid var(--clr-light);
    color:var(--clr-dark)
    
}
.special-btn:hover,
.operator-btn:hover {
    background-color: var(--clr-dark);
    border: 5px solid var(--clr-light);
    color: var(--clr-light)
    
}
.special-btn:focus,
.operator-btn:focus {
    background-color: var(--clr-neutral);
    color: var(--clr-light);
}

#enter-btn {
    background-color: var(--clr-accent-100);
    border: 5px solid var(--clr-light);
    color: var(--clr-light);
    
}
#enter-btn:hover {
    background-color: var(--clr-accent-200);
}
#enter-btn:focus {
    background-color: var(--clr-neutral);
}

#clear-btn {
    background-color: var(--clr-accent-100);
    border: 5px solid var(--clr-light);
}
#clear-btn:hover {
    background-color: var(--clr-accent-200);
}
#clear-btn:focus {
    background-color: var(--clr-neutral);
}




.clr-bg-dark {
    background-color: var(--clr-dark);
}

.clr-bg-light {
    background-color: var(--clr-light);

}
